@{
    ViewData["Title"] = "Meetings with Users";
}

<h1>Meetings with users</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Q</td>
                        <td>Q@gmail.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<button type="submit" class="btn btn-dark">
    @Html.ActionLink("Home", "Index", "Home")
</button>
<button type="submit" class="btn btn-dark justify-content-end">
    @Html.ActionLink("Set meeting", "Index", "Home")
</button>