@{
    ViewData["Title"] = "Delete Note";
}

<h1>Delete Incident</h1>

<p>Are you sure you would like to delete this Incident?</p>
 <button type="submit" class="btn btn-dark">
    @Html.ActionLink("Delete", "Incident", "Incident")
 </button>
