@{
    ViewData["Title"] = "Delete Note";
}

<h1>Delete Note</h1>

<p>Are you sure you would like to delete this note?</p>
 <button type="submit" class="btn btn-dark">
    @Html.ActionLink("Delete", "Note", "Note")
 </button>
