@model Note
@{
    ViewData["Title"] = "Notes for Users";
}

<h1>Notes for all users</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Date of Note</th>
                        <th>Description of Note</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1234</td>
                        <td>Important</td>
                        <td>18 May</td>
                        <td>This is a very important note</td>
                        <td>
                            <a asp-controller="Note" asp-action="Detail" asp-route-id="">View Details</a>
                        </td>
                        <td>
                            <a asp-controller="Note" asp-action="Delete" asp-route-id="">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<button type="submit" class="btn btn-dark">
    @Html.ActionLink("Home", "Index", "Home")
</button>
<button type="submit" class="btn btn-dark justify-content-end">
    @Html.ActionLink("Add", "Add", "Note")
</button>
